***********************************************************************************************
*                                                                                             *
* DRILL TAPE SUMMARY REPORT                                                                   *
*                                                                                             *
* D:\MICA AND BOARD\DANH\DANH\ORCAD PROJECTS\COMERCIAL PROJECTS\COM_PRJ46\COM_PRJ46_VER1.MAX  *
* Sat Jul 21 17:17:24 2012                                                                    *
*                                                                                             *
***********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       34       2        200      100                                                                                 
T2       38       4        200      100                                                                                 
T3       64       35       200      100                                                                                 
T4       79       12       200      100                                                                                 
