**********************************************************************
*                                                                    *
* DRILL TAPE SUMMARY REPORT                                          *
*                                                                    *
* D:\DANH\ORCAD PROJECTS\COMERCIAL PROJECTS\COM_PRJ48\COM_PRJ48.MAX  *
* Wed Sep 07 03:39:45 2011                                           *
*                                                                    *
**********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       64       22       200      100                                                                                 
T2       68       12       200      100                                                                                 
T3       79       28       200      100                                                                                 
T4       129      2        200      100                                                                                 
