****************************************************
*                                                  *
* DRILL TAPE SUMMARY REPORT                        *
*                                                  *
* D:\DANH\ORCADP~1\COMERC~1\COF0C4~1\COM_PR~3.MAX  *
* Thu Sep 01 09:38:11 2011                         *
*                                                  *
****************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       31       64       200      100                                                                                 
T2       38       8        200      100                                                                                 
T3       64       101      200      100                                                                                 
T4       70       88       200      100                                                                                 
T5       79       12       200      100                                                                                 
T6       129      2        200      100                                                                                 
