**********************************************************************************************
*                                                                                            *
* DRILL TAPE SUMMARY REPORT                                                                  *
*                                                                                            *
* D:\WORKING\WORKING\DANHLL\ORCAD PROJECTS\COMERCIAL PROJECTS\CRYSTAL_BASE\CRYSTAL_BASE.MAX  *
* Thu Mar 17 02:52:12 2016                                                                   *
*                                                                                            *
**********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       64       4        200      100                                                                                 
T2       79       2        200      100                                                                                 
