*************************************************************************************************
*                                                                                               *
* DRILL TAPE SUMMARY REPORT                                                                     *
*                                                                                               *
* D:\WORKING\WORKING\DANHLL\ORCAD PROJECTS\COMERCIAL PROJECTS\CRYSTAL_BASE\CRYSTAL_BASE_V1.MAX  *
* Sat Mar 19 02:14:28 2016                                                                      *
*                                                                                               *
*************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       39       24       200      100                                                                                 
