****************************************************************************
*                                                                          *
* DRILL TAPE SUMMARY REPORT                                                *
*                                                                          *
* D:\DANH\ORCAD PROJECTS\COMERCIAL PROJECTS\COM_PRJ47\COM_PRJ47_3LEDS.MAX  *
* Sun Oct 02 12:56:13 2011                                                 *
*                                                                          *
****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       38       4        200      100                                                                                 
T2       64       18       200      100                                                                                 
T3       68       12       200      100                                                                                 
T4       79       23       200      100                                                                                 
T5       129      2        200      100                                                                                 
